// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#maincontainer {
  height:100%;
}

#mainrow {
  height:100%;
}

#background {
  height:100%;
}

#background .row {
}

#jumbo {
  max-height: 250px;
  background-color:white;
}

#jumbo h1, #jumbo p {
    color: green;
}
